.button {
  --padding-block: 0;
  --padding-inline: 0;

  position: relative;
  display: inline-flex;
  max-inline-size: fit-content;
  font-family: var(--ff-headings);
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;

  .text {
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);
    background: linear-gradient(
        to left,
        var(--clr-neutral-300) 50%,
        var(--clr-primary-100) 50%
      )
      right;
    background-size: 200% 100%;
    transition: background 300ms linear 100ms;
  }

  .arrow {
    display: grid;
    place-items: center;
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);
    background: linear-gradient(
        to left,
        var(--clr-primary-100) 50%,
        var(--clr-neutral-300) 50%
      )
      right;
    background-size: 200% 100%;
    transition: background 100ms linear;
  }

  &:hover .text,
  &:focus .text {
    background-position: left;
    transition: background 300ms linear;
  }

  &:hover .arrow,
  &:focus .arrow {
    background-position: left;
    transition: background 100ms linear 300ms;
  }
}
