.location .header {
  position: relative;
  grid-column: 1 / -1;

  .button {
    position: absolute;
    z-index: 1000;
  }

  .map-wrapper {
    block-size: 75vh;
    // CHECK background srcset
    background-image: url("../images/desktop/image-map.png");
    background-position: center center;
    background-size: cover;
  }
}
