@use "../abstracts/breakpoints" as *;

h1.small {
  visibility: unset;

  @include respond-to("large") {
    visibility: hidden;
  }
}

h1.large {
  position: absolute;
  visibility: hidden;
  inset-block-start: 50%;
  transform: translateY(-100%);
  font-family: var(--ff-headings);
  font-size: var(--step-6);
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  mix-blend-mode: difference;

  @include respond-to("large") {
    visibility: unset;
  }
}
