.location .header {
  position: relative;
  grid-column: 1 / -1;

  .button {
    position: absolute;
  }

  .map-wrapper {
    z-index: -10;
    // .map {
    // inline-size: 100%;
    block-size: 75vh;
    // background-color: hotpink;
    // }
  }
}
