@use "../abstracts/breakpoints" as *;

.home .header {
  position: relative;
  display: grid;
  gap: var(--space-m, 1rem);
  min-block-size: min(80vh, 50rem);

  .hero {
    --flow-space: var(--space-l);
    --side-size: 30rem;

    z-index: 10;
    align-content: center;
    justify-self: end;
    max-inline-size: min(100%, 30rem);
    padding-block-end: calc(var(--space-l) * 2);

    @include respond-to("medium") {
      grid-area: 1 / 1 / -1 / -1;
    }

    @include respond-to("large") {
      min-inline-size: 100%;
    }

    p > span {
      background-color: hsla(0%, 0%, 100%, 10%);
      font-weight: 700;
    }
  }

  .hero-image {
    display: flex;
    grid-area: 1 / 1 / -1 / -1;

    > * {
      align-items: center;
    }

    .black {
      flex: 1 999 30%;
      background-color: var(--clr-neutral-300);
    }

    .image {
      max-inline-size: min(100%, 35rem);
      background-color: var(--clr-neutral-100);
      object-fit: fill;
    }

    .white {
      flex: 1 2 30%;
    }
  }
}
