@use "../abstracts/breakpoints" as *;

.home .header {
  grid-column: 1 / -1;
  min-block-size: min(80vh, 50rem);

  @include respond-to("large") {
    background: linear-gradient(
      90deg,
      var(--clr-neutral-300) 50%,
      var(--clr-neutral-100) 50%
    );
  }

  > .container {
    display: grid;
    gap: var(--space-m, 1rem);
  }

  .hero {
    --flow-space: var(--space-l);
    --side-size: 30rem;

    align-content: center;
    justify-self: end;
    max-inline-size: min(100%, 30rem);
    padding-block-end: calc(var(--space-l) * 2);

    @include respond-to("medium") {
      grid-area: 1 / 1 / -1 / -1;
    }

    @include respond-to("large") {
      min-inline-size: 100%;
    }

    p {
      background-color: hsla(0%, 0%, 100%, 20%);
      font-weight: 900;
    }

    h1 {
      color: var(--clr-neutral-100);
      mix-blend-mode: difference;

      @include respond-to("large") {
        margin-inline-start: var(--space-l);
      }
    }

    .button {
      margin-block-start: var(--space-l);
    }
  }

  .hero-image {
    display: grid;
    grid-area: 1 / 1 / -1 / -1;
    place-items: start;

    @include respond-to("large") {
      place-items: center;
    }

    img {
      max-inline-size: min(100%, 40rem);
    }
  }
}
